body
{
    margin: 0px;
    padding: 0;
    border: 0;
    overflow: hidden;
    overflow-y: visible;
    touch-action: manipulation;
    transition: color 1s, background-color 1s;
}

.hidden
{
    display: none;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.rainbow
{
    transition: opacity 1.2s;
    transition-timing-function: linear;
}
.StandardButton
{
    cursor: pointer;
    touch-action: manipulation;
}
.dark-mode
{
    background-color: black;
    color: white;
}
.dark-mode-green
{
    background-color: black;
    color: rgb(0, 179, 0);
}
.dark-mode-purple
{
    background-color: black;
    color: rgb(175, 0, 131);
}
.DarkMode
{
    width: 100px;
    height: 100px;
    margin: 10px;
}
#darkmodeholder
{
    position: absolute;
    width: 100%;
    display: flex;
}
.title
{
    font-size: x-large;
    font: bolder;
}
#usernotif
{
    margin-top: calc(0.2 * var(--box-height));
    padding: 0;
    border: 0;
    text-align: center;
    font-size: calc(0.5 * var(--box-height));
}
#usernotifBox
{
    position: fixed;
    width: 100% - 1vh;
    height: 10%;
    --box-height: 10vh;
    border-width: calc(0.08 * var(--box-height));
    border-style: double;
    transition: opacity 2s;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.shopbuttonframe
{
    height: 70%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}
.shoptext
{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    text-align: center;
}
.shopframe
{
    width: 500px;
    height: 250px;
    border-style: dashed;
}
.shopbutton
{
    width: 100%;
    height: 70%;
    cursor: pointer;
}
.shopbuttoncontainer
{
    width:23%;
    height:100%;
    margin: 5px;
    padding: 0;
}
.ShopButtonDesc
{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: 0;
    margin-top: 5px;
}
#clickerbutton
{
    z-index: 100;
    position: relative;
    touch-action: manipulation;
}
.Social /* all social buttons */
{
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-right: 0;
}
.socialA
{
    width: 65px;
    height: 50px;
}
#SocialFrame
{
    position: absolute;
    z-index: 100;
    height: 100px;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
}
#DiscordSocial
{
    background-image: url("../Images/discordlogo.png");
}
#KofiSocial
{
    background-image: url("../Images/ko-fi\ logo.png");
}
#RedditSocial
{
    background-image: url("../Images/reddit.png");
}
#TestButton
{
    float: right;
    width: 100px;
    height: 50px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    visibility: hidden;
}
#FireGif
{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10%;
    background-image: url("../Images/fire.gif");
    background-size: 5%;
    opacity: 0.5;
    position: absolute;
    bottom: 10%;
    visibility: hidden;
}
.main
{
    margin: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
}
#StatisticsInfo, #SettingsInfo
{
    font-size: large;
    margin: 0;
    border: 0;
    padding: 0;
}